@model PropertyPlus.Models.BlogModel
@{
    ViewBag.Title = "Blog Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blog</h2>
        <ol class="breadcrumb">
            @*<li>
                    <a href="@Url.Action("Index", "Admin")">Trang chủ</a>
                </li>*@
            <li>
                <a href="@Url.Action("Blog", "Admin")">Blog</a>
            </li>
            <li class="active">
                <strong>Chi tiết blog</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("BlogDetail", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(m => m.Id)
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ảnh mô tả</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ImageFile, new { type = "file", accept = "image/*", onchange = "previewImage(event)", @class = "form-control", required = true })
                                <img src='~/Upload/@Model.Img' alt="" id="instrumentImage"
                                     height="150" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Thể loại</label>
                            <div class="col-sm-2">
                                @Html.RadioButtonFor(m => m.Type, 0) Tin tức
                            </div>
                            <div class="col-sm-2">
                                @Html.RadioButtonFor(m => m.Type, 1) Kinh nghiệm
                            </div>
                            <div class="col-sm-2">
                                @Html.RadioButtonFor(m => m.Type, 2) Lời khuyên
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1"> Tiếng Việt</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Tiếng Anh</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Tiếng Nhật</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tiêu đề</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[0].Title, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Mô tả ngắn</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[0].Description, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nội dung</label>
                                            <div class="col-sm-9">
                                                @Html.TextAreaFor(m => m.ContentList[0].Content, new {@required = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tiêu đề</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[1].Title, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Mô tả ngắn</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[1].Description, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nội dung</label>
                                            <div class="col-sm-9">
                                                @Html.TextAreaFor(m => m.ContentList[1].Content, new{@required = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tiêu đề</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[2].Title, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Mô tả ngắn</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[2].Description, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nội dung</label>
                                            <div class="col-sm-9">
                                                @Html.TextAreaFor(m => m.ContentList[2].Content, new {@required = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" id="submitButton" type="submit">Lưu</button>
                                <a class="btn btn-white marleft-30" href="@Url.Action("Blog", "Admin")">Thoát</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        createEditor("ContentList_0__Content");
        createEditor("ContentList_1__Content");
        createEditor("ContentList_2__Content");
    });

    function createEditor(id) {
        CKEDITOR.replace(id,
            {
                filebrowserImageUploadUrl: '/Admin/UploadImage',
            });
    }


    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
        //$("#instrumentImage").css('display', 'block');
    }

    $('#submitButton').click(function () {
        $('input:invalid').each(function () {
            // Find the tab-pane that this element is inside, and get the id
            var $closest = $(this).closest('.tab-pane');
            var id = $closest.attr('id');

            // Find the link that corresponds to the pane and have it show
            $('.nav a[href="#' + id + '"]').tab('show');

            // Only want to do it once
            return false;
        });
    });

</script>
