@using PropertyPlus.Models
@using PropertyPlus.Services
@model PropertyPlus.Models.ProjectModel

@{
    ViewBag.Title = "Project Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    var lst = new List<SelectListItem>()
{
new SelectListItem(){Text = "Loại thường",Value = "0"},
new SelectListItem(){Text = "Trọng điểm",Value = "1"},
};
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dự án</h2>
        <ol class="breadcrumb">
            @*<li>
                    <a href="@Url.Action("Index", "Admin")">Trang chủ</a>
                </li>*@
            <li>
                <a href="@Url.Action("Project", "Admin")">Dự án</a>
            </li>
            <li class="active">
                <strong>Chi tiết dự án</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    @using (Html.BeginForm("ProjectDetail", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(m => m.Id)
                        if (Model.Id == 0)
                        {
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ảnh logo</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.LogoFile, new { type = "file", accept = "image/*", onchange = "previewSlide(event, 'instrumentLogo')", @class = "form-control", required = true })
                                    <img src='~/Upload/@Model.Logo' alt="" id="instrumentLogo"
                                         height="150" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ảnh mô tả</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.ImageFile, new { type = "file", accept = "image/*", onchange = "previewImage(event)", @class = "form-control", required = true })
                                    <img src='~/Upload/@Model.Img' alt="" id="instrumentImage"
                                         height="150" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ảnh slide 1</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Slide1File, new { type = "file", accept = "image/*", onchange = "previewSlide(event, 'instrumentSlide1')", @class = "form-control", required = true })
                                    <img src='~/Upload/@Model.Slide1' alt="" id="instrumentSlide1"
                                         height="150" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ảnh slide 2</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Slide2File, new { type = "file", accept = "image/*", onchange = "previewSlide(event, 'instrumentSlide2')", @class = "form-control", required = true })
                                    <img src='~/Upload/@Model.Slide2' alt="" id="instrumentSlide2"
                                         height="150" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ảnh slide 3</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Slide3File, new { type = "file", accept = "image/*", onchange = "previewSlide(event, 'instrumentSlide3')", @class = "form-control", required = true })
                                    <img src='~/Upload/@Model.Slide3' alt="" id="instrumentSlide3"
                                         height="150" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ảnh logo</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.LogoFile, new { type = "file", accept = "image/*", onchange = "previewSlide(event, 'instrumentLogo')", @class = "form-control" })
                                    <img src='~/Upload/@Model.Logo' alt="" id="instrumentLogo"
                                         height="150" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ảnh mô tả</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.ImageFile, new { type = "file", accept = "image/*", onchange = "previewImage(event)", @class = "form-control" })
                                    <img src='~/Upload/@Model.Img' alt="" id="instrumentImage"
                                         height="150" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ảnh slide 1</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Slide1File, new { type = "file", accept = "image/*", onchange = "previewSlide(event, 'instrumentSlide1')", @class = "form-control" })
                                    <img src='~/Upload/@Model.Slide1' alt="" id="instrumentSlide1"
                                         height="150" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ảnh slide 2</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Slide2File, new { type = "file", accept = "image/*", onchange = "previewSlide(event, 'instrumentSlide2')", @class = "form-control" })
                                    <img src='~/Upload/@Model.Slide2' alt="" id="instrumentSlide2"
                                         height="150" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ảnh slide 3</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Slide3File, new { type = "file", accept = "image/*", onchange = "previewSlide(event, 'instrumentSlide3')", @class = "form-control" })
                                    <img src='~/Upload/@Model.Slide3' alt="" id="instrumentSlide3"
                                         height="150" />
                                </div>
                            </div>
                        }
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Dịch vụ</label>
                            <div class="col-sm-9">
                                @for (var i = 0; i < Model.FacilityList.Count; i++)
                                {
                                    @Html.HiddenFor(m => m.FacilityList[i].Id)
                                    <div class="col-md-6">
                                        @Html.CheckBoxFor(m => m.FacilityList[i].Selected) @Model.FacilityList[i].Content.Name
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phân loại</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.Type, lst, new { @class = "form-control", required = true })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Địa chỉ</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", required = true })
                                @Html.HiddenFor(m => m.Latitude)
                                @Html.HiddenFor(m => m.Longitude)
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1"> Tiếng Việt</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Tiếng Anh</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Tiếng Nhật</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    @Html.HiddenFor(m => m.ContentList[0].Id)
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tên</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[0].Name, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Mô tả</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[0].Description, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tổng quan</label>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    @for (var i = 0; i < Model.OverviewList[0].ContentList.Count; i++)
                                                    {
                                                        @Html.HiddenFor(m => m.OverviewList[0].ContentList[i].Id)
                                                        @Html.HiddenFor(m => m.OverviewList[0].ContentList[i].Language)
                                                        <div class="col-sm-5" style="margin-bottom: 10px">
                                                            @Html.TextBoxFor(m => Model.OverviewList[0].ContentList[i].Content, new { @class = "form-control", @required = true })
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    @Html.HiddenFor(m => m.ContentList[1].Id)
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tên</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[1].Name, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Mô tả</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[1].Description, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tổng quan</label>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    @for (var i = 0; i < Model.OverviewList[1].ContentList.Count; i++)
                                                    {
                                                        @Html.HiddenFor(m => m.OverviewList[1].ContentList[i].Id)
                                                        @Html.HiddenFor(m => m.OverviewList[1].ContentList[i].Language)
                                                        <div class="col-sm-5" style="margin-bottom: 10px">
                                                            @Html.TextBoxFor(m => Model.OverviewList[1].ContentList[i].Content, new { @class = "form-control", @required = true })
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    @Html.HiddenFor(m => m.ContentList[2].Id)
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tên</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[2].Name, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Mô tả</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.ContentList[2].Description, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tổng quan</label>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    @for (var i = 0; i < Model.OverviewList[2].ContentList.Count; i++)
                                                    {
                                                        @Html.HiddenFor(m => m.OverviewList[2].ContentList[i].Id)
                                                        @Html.HiddenFor(m => m.OverviewList[2].ContentList[i].Language)
                                                        <div class="col-sm-5" style="margin-bottom: 10px">
                                                            @Html.TextBoxFor(m => Model.OverviewList[2].ContentList[i].Content, new { @class = "form-control", @required = true })
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" id="submitButton" type="submit">Lưu</button>
                                <a class="btn btn-white marleft-30" href="@Url.Action("Project", "Admin")">Thoát</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
        //$("#instrumentImage").css('display', 'block');
    }

    function previewSlide(event, id) {
        // Get a reference to the image element
        var image = document.querySelector("#" + id);
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
        //$("#instrumentImage").css('display', 'block');
    }

    $('#submitButton').click(function () {
        $('input:invalid').each(function () {
            // Find the tab-pane that this element is inside, and get the id
            var $closest = $(this).closest('.tab-pane');
            var id = $closest.attr('id');

            // Find the link that corresponds to the pane and have it show
            $('.nav a[href="#' + id + '"]').tab('show');

            // Only want to do it once
            return false;
        });
    });

    function initAutocomplete() {
        var options = {
            componentRestrictions: { country: "vn" }
        };

        var input = document.getElementById('Address');
        var autocomplete = new google.maps.places.Autocomplete(input, options);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            $("#Latitude").val(place.geometry.location.lat());
            $("#Longitude").val(place.geometry.location.lng());
        });
    }

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWuX4GXgxkGER7KMO5M5NM8npxQ04wxnk&libraries=places&callback=initAutocomplete"></script>
