@using PropertyPlus.Helper
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/logo.svg" width="40" height="40" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Admin</strong>
                            </span> <span class="text-muted text-xs block">Tài khoản <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        @*<li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                    <li class="divider"></li>*@
                        <li><a href="@Url.Action("ChangePassword", "Admin")">Đổi mật khẩu</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    P+
                </div>
            </li>
            <li class="@Html.IsSelected(action: "Blog") || @Html.IsSelected(action: "BlogDetail")">
                <a href="@Url.Action("Blog", "Admin")"><i class="far fa-newspaper"></i> <span class="nav-label">Blog</span> </a>
            </li>
            <li class="@Html.IsSelected(action: "Account") || @Html.IsSelected(action: "AccountDetail")">
                <a href="@Url.Action("Account", "Admin")"><i class="fas fa-user"></i> <span class="nav-label">Tài khoản</span> </a>
            </li>
            <li class="@Html.IsSelected(action: "SlideHome") || @Html.IsSelected(action: "SlideProject") || @Html.IsSelected(action: "SlideBlog")">
                <a href="#"><i class="fas fa-book"></i> <span class="nav-label">Slide</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "SlideHome")"><a href="@Url.Action("SlideHome", "Admin")">Trang chủ</a></li>
                    <li class="@Html.IsSelected(action: "SlideProject")"><a href="@Url.Action("SlideProject", "Admin")">Project</a></li>
                    <li class="@Html.IsSelected(action: "SlideBlog")"><a href="@Url.Action("SlideBlog", "Admin")">Blog</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(action: "Project") || @Html.IsSelected(action: "ProjectDetail")">
                <a href="@Url.Action("Project", "Admin")"><i class="fas fa-user"></i> <span class="nav-label">Dự án</span> </a>
            </li>
            <li class="@Html.IsSelected(action: "Facility") || @Html.IsSelected(action: "FacilityDetail")">
                <a href="@Url.Action("Facility", "Admin")"><i class="fas fa-bath"></i> <span class="nav-label">Dịch vụ</span> </a>
            </li>
        </ul>
    </div>
</nav>